<div class="container mt-4">

  <h3>Available Products</h3>

  <!-- FILTER BAR -->
  <div class="row mb-3">

    <div class="col-md-4">
      <input type="text"
             class="form-control"
             placeholder="Search by product name"
             [(ngModel)]="searchText"
             (input)="filterProducts()">
    </div>

    <div class="col-md-4">
      <select class="form-control"
              [(ngModel)]="selectedCategory"
              (change)="filterProducts()">
        <option [ngValue]="null">All Categories</option>
        <option *ngFor="let c of categories"
                [ngValue]="c.id">
          {{c.name}}
        </option>
      </select>
    </div>

  </div>

  <!-- TABLE -->
  <table class="table table-bordered table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Available</th>
        <th width="120">Qty</th>
        <th width="200">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of filteredProducts">

        <td>{{p.name}}</td>
        <td>{{p.categoryName}}</td>
        <td>{{p.unitPrice}}</td>

        <td>
          <span class="badge bg-success"
                *ngIf="p.quantityOnHand > p.reorderLevel">
            {{p.quantityOnHand}}
          </span>

          <span class="badge bg-warning text-dark"
                *ngIf="p.quantityOnHand <= p.reorderLevel">
            {{p.quantityOnHand}}
          </span>
        </td>

        <td>
          <input type="number"
                  min="1"
                  [max]="p.quantityOnHand"
                  class="form-control"
                  [(ngModel)]="p.tempQty">
        </td>

        <td>
          <button class="btn btn-sm btn-success me-2"
                  (click)="stockIn(p)">
            Stock In
          </button>

          <button class="btn btn-sm btn-danger"
                  (click)="stockOut(p)">
            Stock Out
          </button>
        </td>

      </tr>
    </tbody>

  </table>

</div>